@import "../../assets/styles/colors";

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);

  .cancel {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    transition: 0.3s ease-out transform;
    opacity: 0.2;

    &:hover {
      transform: scale(1.1);
      opacity: 0.5;
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    img {
      height: calc(100% - 20px);
      width: auto;
    }

    iframe {
      border: none;
    }
  }

  .left {
    position: absolute;
    left: 10px;
    top: 50%;
    font-family: Yfx, serif;
    color: $text-primary-color;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .right {
    position: absolute;
    right: 10px;
    top: 50%;
    font-family: Yfx, serif;
    color: $text-primary-color;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
