@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  min-width: 100vw;
  padding-top: 200px;

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .three-layer {
      height: 270px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .yash-text-wrapper {
        position: absolute;
        right: calc(50% + 60px);
        padding-bottom: 40px;

        .yash-text {
          font-size: var(--cell-font-size);
          font-family: Yfx, serif;
          letter-spacing: 4px;
          height: var(--cell-height);
        }
      }

      video {
        width: 250px;
        height: 250px;
      }

      .slot-wrapper {
        position: absolute;
        left: calc(50% + 60px);
        padding-bottom: 40px;

        .slot-parent {
          display: flex;
          flex-direction: column;

          .slot-container {
            display: flex;
            font-size: var(--cell-font-size);

            .a-text {
              display: flex;
              font-family: Yfx, serif;
              width: var(--cell-width);
              height: var(--cell-height);
              padding-top: var(--cell-padding);
            }

            .slot {
              height: var(--cell-height);
              overflow: hidden;
              font-family: Yfx, serif;
              display: flex;
              cursor: pointer;
            }
          }

          .arrow {
            width: 30px;
            opacity: 0.7;
            cursor: pointer;
            margin-left: 32%;
          }

          .down-arrow {
            width: 30px;
            opacity: 0.7;
            transform: rotate(180deg);
            cursor: pointer;
            margin-left: 32%;
          }
        }
      }

    }

    .designation {
      font-family: Yfx, serif;
      display: flex;
      justify-content: space-between;
      padding-top: 2px;
      width: 250px;

      .text {
        letter-spacing: 1.5px;
        font-size: 12px;
      }
    }
  }

  .logo {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    left: calc(50% - 25px);
  }
}

@media only screen and (max-width: 600px) {
  .parent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 0;

    .body {

      .three-layer {
        height: auto;
        flex-direction: column;

        .yash-text-wrapper {
          position: relative;
          padding: 0;
          right: 0;
          margin-bottom: 10px;

          .yash-text {
            font-size: 10vw;
            letter-spacing: 4px;
          }
        }

        video {
          width: 150px;
          height: 150px;
        }

        .slot-wrapper {
          position: relative;
          padding: 0;
          left: 0;

          .slot-parent {
            align-items: center;

            .slot-container {
              font-size: 10vw;

              .a-text {
                display: none;
              }
            }

            .arrow {
              margin: 0;
              width: 20px;
            }

            .down-arrow {
              margin: 0;
              height: 20px;
            }
          }
        }
      }

      .designation {
        border-top: 1px solid rgba(0, 0, 0, 0.7);
        border-bottom: 1px solid rgba(0, 0, 0, 0.7);
        padding: 10px 0;
        margin-top: 20px;
      }
    }
  }
}
