@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  min-width: 100vw;

  video{
    width: 250px;
    height: 250px;
  }

  .slot-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    .slot-container{
      width: 500px;
      height: 250px;
      border: 1px solid #ccc;
    }
  }
}

