@import "../../assets/styles/colors";

.wrapper {
  position: relative;

  .scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100vw;
  }

  .left {
    position: absolute;
    left: 10px;
    top: 50%;
    font-family: Yfx, serif;
    color: $text-primary-color;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
  }

  .right {
    position: absolute;
    right: 10px;
    top: 50%;
    font-family: Yfx, serif;
    color: $text-primary-color;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}
