@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  min-width: 100vw;
  padding-top: 200px;

  .center-wrapper {
    height: 270px;
    width: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .video-designation-wrapper {
      height: 100%;
      width: 250px;

      video {
        width: 250px;
        height: 250px;
      }

      .designation {
        width: 100%;
        font-family: Yfx, serif;
        display: flex;
        justify-content: space-between;
        padding-top: 2px;

        .text {
          letter-spacing: 1.5px;
          font-size: 12px;
        }
      }
    }

    .yash-text {
      font-size: 80px;
      font-family: Yfx, serif;
      position: absolute;
      right: calc(50% + 50px);
      bottom: 50%;
      letter-spacing: -3px;
    }

    .a-text {
      font-size: 80px;
      font-family: Yfx, serif;
      position: absolute;
      left: calc(50% + 55px);
      bottom: 50%;
    }

    .slot-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      left: calc(50% + 125px);
      bottom: 50%;

      .slot {
        height: 72px;
        overflow: hidden;
        font-size: 80px;
        font-family: Yfx, serif;
        display: flex;

        .column {
          display: flex;
          flex-direction: column;
          width: 70px;
          transition: all 1s ease-in-out 0s;
        }
      }

      .arrow {
        width: 30px;
        opacity: 0.7;
        position: absolute;
        top: -50px;
        left: 85px;
        cursor: pointer;
      }

      .down-arrow {
        width: 30px;
        opacity: 0.7;
        position: absolute;
        transform: rotate(180deg);
        bottom: -50px;
        left: 85px;
        cursor: pointer;
      }
    }
  }
}

