:root {
    --cell-width: 65px;
    --cell-height: 72px;
    --cell-font-size: 80px;
    --cell-padding: 5px;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: #FAFAFA;
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    width: var(--cell-width);

}

.cell {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: var(--cell-padding);
    min-height: var(--cell-height);
}

@media only screen and (max-width: 600px) {

    .cell {
        width: auto;
    }

    .column {
        width: auto;
    }
}
