@import "../../assets/styles/colors";

.parent {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;

  .cell {
    width: 100%;
    border-radius: 10px;
    filter: grayscale(1);
    cursor: pointer;
    transition: 0.3s ease-out all;

    &:hover {
      filter: grayscale(0);
    }
  }
}

