@import "../../assets/styles/colors";

.parent {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: flex-end;
  min-width: 100vw;

  .image-wrapper {
    position: absolute;
    height: 100%;
    width: 65%;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    justify-content: flex-end;

    .shadow-image {
      height: 100%;
    }

    .main-image {
      position: absolute;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }

  .right-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .details-wrapper {
      width: fit-content;
      height: 60%;

      .top-wrapper {
        color: #353335;
        width: fit-content;

        .header {
          font-size: 6rem;
          text-transform: capitalize;
          font-family: Yfx, serif;
          word-spacing: 20px;
          color: $secondary-text-color;
        }

        .time-parent {
          display: flex;
          height: 60px;
          font-family: Yfx, serif;
          color: $secondary-text-color;
          justify-content: space-between;
          opacity: 0.4;
          margin-top: 2.4rem;

          .number {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 30px;

            &:after {
              content: attr(value);
              margin-top: 10px;
              font-size: 12px;
            }
          }

          .colon {
            font-size: 30px;
            padding-top: 6px;
            font-weight: bolder;
          }
        }
      }

      .middle-wrapper {
        display: flex;
        justify-content: flex-end;
        margin-top: 4rem;

        .details {
          display: flex;
          width: fit-content;

          .titles {
            font-family: b-light, serif;
            font-size: 30px;
            text-align: end;
            list-style: none;
            color: $text-primary-color;
            display: flex;
            flex-direction: column;

            span {
              height: 50px;

              span {
                opacity: 0.2;
                margin: 0 0.6rem;
              }
            }
          }

          .desc {
            font-size: 18px;
            list-style: none;
            color: $text-primary-color;
            font-family: b-bold, sans-serif;
            display: flex;
            flex-direction: column;

            span {
              height: 50px;
              display: flex;
              font-size: 16px;
              align-items: center;

              .designation {
                font-family: b-regular-italics, sans-serif;
                text-transform: capitalize;
                font-size: 18px;

                &::before {
                  content: '|';
                  font-family: b-light, sans-serif;
                  font-size: 20px;
                  margin: 0 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .parent {
    .image-wrapper {
      display: none;
    }

    .right-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .details-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .top-wrapper {
          width: 100%;

          .header {
            font-size: 10vw;
            text-align: center;
          }

          .time-parent {
            height: auto;
            font-family: Yfx, serif;
          }
        }

        .middle-wrapper{
          margin: 0;
        }
      }
    }
  }
}
