<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
<!--    <script src="https://raw.githubusercontent.com/mckamey/countdownjs/master/countdown.min.js" defer></script>-->
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="yes" name="mobile-web-app-capable">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link href="/assets/icons/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="assets/fonts/fonts.css" rel="stylesheet">
    <% preact.headEnd %>
</head>
<body>
<% preact.bodyEnd %>
</body>
</html>
